form {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

button {
  margin: 20px 20px 0 0;
}

button.deletar {
  background-color: #bd2736;
  color: white;
}

button.deletar:hover {
  background-color: #d53343;
  color: white;
}